@charset "ISO-8859-1";

.nav-bg{
	background-color:#00bcd4 !important ;
}
.clipPath{
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

}

 .footer{
	 
	background-color:  #9e9e9e !important;
 }
 
 
 
 .legend-bg{
	background-color: #9e9e9e !important; 
 }
 
 